*{
  margin: 0;
  padding: 0;
}
 /* .active{
  color: aquamarine;
 } */
 
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 70px;
  background-color: #111111;
z-index: 1;
margin-bottom: 1px;
position: fixed;
top: 0;left: 0;
right: 0;



}
.nav-log{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-log p{
  color: white;
  font-size: 38px;
  font-weight: bolder;
  margin-left: 80px;
}
.nav-menu{
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  align-items: center;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  transition: 2s ease-in-out;
}

.link{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 3px;
  margin: 35px;
  cursor: pointer;
  transition: 0.8s linear all;

}
.link:hover{
  text-decoration: underline;
  box-shadow: 0 0 20px rgba(79, 130, 233, 2);
  padding: 5px 10px;

}
 

.toogle div{
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: red;
}
.toogle{
  display: none;
  cursor: pointer;
}

 @media screen and (max-width: 768px){
  .toogle{
    display: block;
  }
  .nav-menu{
    position: fixed;
    top:7vh;
    right: 0;
    width: 50%;
    height: 60vh;
    background-color: #111111;
    flex-direction: column;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
 }
 /* Nav Active class*/

 .nav__active{
  transform: translateX(0);
 }
 /* toogler icon Animation   */
.nav__toggle .line1{
  transform: rotate(-45deg)  translate(-4px , 5px)
}
.nav__toggle .line2{
  opacity: 0;
}
.nav__toggle .line3{
  transform: rotate(45deg) translate(-4px , -5px)
}

