/* .admin-contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;

  font-size: 18px;
  font-weight: 600;

} */
table{
  width: 100% ;
  /* border: 1px white solid; */
  height: 100%;
}
th , td{
  border: 1px solid;
  text-align: center;
  width: 50px;
  height: 50px;
}
th{
  color: orange;
  border: white 1px solid;
  font-size: 18px;
  font-weight: bolder;
  background-color: transparent;
}
