.silde-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
.silde-bar h1{
  color: #fa690f;
  text-transform: uppercase;
}
.nav-link{
  color: white;
  font-size: 18px;
}