
.home{
  /* background: linear-gradient(to left top , rgb(115, 115, 239) , rgb(247, 139, 157), rgb(65, 65, 223) rgb(232, 66, 232)); */
  /* background: red; */
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  background-color: #49555C

}
.home h1{
  color: white;
  font-size: 32px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.button{
  background: linear-gradient(to left top ,rgb(244, 148, 201), rgb(117, 117, 224),rgb(5, 158, 156));
  margin-top: 20px;
  padding: 10px 25px;
  border:  none;
   color: wheat;
  font-size: 18px;
  font-weight: bold;
  transition: ease-in-out 1s all;
}
.button:hover{
padding: 10px;
  color: red;
}
.about{
  background-color: #49555C

}
.about-container{
 text-align: center;
 margin-bottom: 20px;
 color: white;
 font-size: 18px;
 font-weight: bold;
}
.about-web img{
  width: 400px;
  height: 400px;
}
.about-web{
  display: flex;
justify-content: space-around;
align-items: center;
row-gap: 10px;
 
}
.about-web1{
  width: 500px;
  display: inline;

}
.about-web1 h1{
  margin-bottom: 20px;
  font-size: 38px;

  }
  .about-web1 p{
    font-size: 18px;
  }
.about-web img{
  width: 400px;
  height: 400px;
}