
.home {
  /* background: linear-gradient(to left top , rgb(115, 115, 239) , rgb(247, 139, 157), rgb(65, 65, 223) rgb(232, 66, 232)); */
  /* background: red; */
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
   height: 60vh;
  background-color: #49555C;
}
.home-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.home-box h1{
  color: white;
  font-size: 32px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.home-box p{
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: 700px;
  margin-bottom: 10px;
}
.home-box .button{
  background: linear-gradient(to left top ,rgba(14, 1, 14, 0.016), #273035,rgba(0, 8, 8, 0));
  margin-top: 20px;
  padding: 10px 25px;
  border:  none;
   color: wheat;
  font-size: 18px;
  font-weight: bold;
  width: 400px;
  transition: ease-in-out 1s all;
}
.button:hover{
padding: 10px;
  color: red;
}
.home-img img{
  width: 600px;
  height: 600px;
 object-fit: contain;
}
.about, .service {
  background-color: #49555C;
  height: 70vh;

}
.service {
  background-color: #49555C;
  height: 70vh;

}
.about-container , .service-header{
 text-align: center;
 margin-bottom: 20px;
 color: white;
 font-size: 18px;
 font-weight: bold;
}
.about-web img{
  width: 400px;
  height: 400px;
}
.about-web{
  display: flex;
justify-content: space-around;
align-items: center;
row-gap: 10px;
 
}
.about-web1{
  width: 500px;
  display: inline;

}
.about-web1 h1{
  margin-bottom: 20px;
  font-size: 38px;
  color: white;

  }
  .about-web1 p{
    font-size: 18px;
    color: white ;
  }
.about-web img{
  width: 400px;
  height: 400px;
}
/* service */
.service-header{
 text-align: center;
 color: white;
 margin-bottom: 20px;
}
.service-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.service-box1 {
  width: 340px;
  height: 400px;
}
.service-box1 img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-radius: 20px;
  transition: all ease-in-out 1s;
}
.service-box1 img:hover{
  padding: 20px;
  border-radius: 20px;
}
.service-box1 h5{
  text-align: center;
  color: white;
  margin-bottom: 13px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.service-box1 h5:hover{
  color: red;
}
.service-box1 p{
  color: white;
  font-weight: 400;
  font-family: 'sans-serif';
  width: 330px;
  text-align: center;
  cursor: pointer;
}
/* contact as */
.contact{
  height: 70vh;
  background-color: #49555C;
}
.contact h1{
  text-align: center;
  color: white;
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box img{
  width: 500px;
  height: 400px;
}
/* .form-container{
  
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
} */
.form{
width: 300px;
padding: 20px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.form h2{
  text-align: center;
  color: red;
}
.form .form-group{
  padding: 20px;
  margin-bottom: 10px;
 
  
}
.form .form-group label{
  display: block;
  font-size: 14px;
 font-weight: bold;
 margin-bottom: 5px;
}
.form .form-group input{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}
.form .btn-form{
  background-color: rgb(5,121,121);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
}
