
body{
  background-color: #151414; 
}
.home {
  /* background: linear-gradient(to left top , rgb(115, 115, 239) , rgb(247, 139, 157), rgb(65, 65, 223) rgb(232, 66, 232)); */
  /* background: red; */
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
   height: 50vh;
  background-color: #151414;
 
}
.home-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.home-box h1{
  color: rgb(226, 197, 28);
  -webkit-text-stroke: 0.9px #fff;
  margin-bottom: 20px;
  font-size:  45px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  

}
.home-box p{
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: 500px;
  margin-bottom: 10px;
  display: inline-block;
}
.home-box .button{
  background:  rgb(219, 87, 11);

  margin-top: 20px;
  padding: 10px 25px;
  border:  none;
   color: white;
  font-size: 18px;
  font-weight: bold;
  width: 400px;
  transition: ease-in-out 1s all;
  cursor: pointer;

}
.button:hover{
margin: 20px;
 
}
.home-img img{
  width: 500px;
  height: 500px;
 object-fit: contain;
margin-top: 20px;




}
.about{
  background-color: #151414;
  height: 70vh;
  margin-top: 70px;

}
.service {
background-color: #151414;  
  margin-top: 70px;
  height: 70vh;

}
.about-web1 .button1{
  background:  rgb(219, 87, 11);
  margin-top: 20px;
  padding: 10px 25px;
  border:  none;
   color: wheat;
  font-size: 18px;
  font-weight: bold;
  width: 400px;
  transition: ease-in-out 1s all;

}
.button1:hover{
margin: 10px;
 
}
.about-container , .service-header{
 text-align: center;
 margin-bottom: 20px;
 color: rgb(219, 87, 11);;

 font-size: 18px;
 font-weight: bold;
}

.about-web{
  display: flex;
justify-content: space-around;
align-items: center;
row-gap: 10px;
 
}
.about-web1{
  width: 500px;
  display: inline;

}
.about-web1 h1{
  margin-bottom: 20px;
  font-size: 38px;
  color: white;
  margin-bottom: 15px;
 

  }
  .about-web1 p{
    font-size: 18px;
    color: white ;
    margin-bottom: 20px;
  }
.about-web img{
  width: 400px;
  height: 400px;
  box-shadow:10px 5px 20px #fa690f;
}
/* service */
.service-header{
 text-align: center;
 color: rgb(219, 87, 11);
 margin-bottom: 20px;
}
.service-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;

}
.service-box1 {
  width: 340px;
  height: auto;

 
  border-radius: 20px;
}
.service-box-img  img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: all ease-in-out 1s;
 margin-left: 50px;
 margin-top: 10px;


}
.service-box1:hover{
  transform: scale(1.03);
}
.service-box1 h5{
  text-align: center;
  color: rgb(226, 197, 28);
  -webkit-text-stroke: 0.9px #fff;
  font-size: 21px;
  margin-bottom: 13px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.service-box1 p{
  color: white;
  font-weight: 400;
  font-family: 'sans-serif';
  width: 330px;
  text-align: center;
  cursor: pointer;
}
/* contact as */
.contact{
  height: 70vh;
  background-color: #151414; 
    margin-top: 70px;
} 
  
.contact h1{
  text-align: center;
  color: rgb(219, 87, 11);
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
width: 500px;
padding: 20px;
box-shadow:10px 5px 20px #fa690f;
margin-top: 20px;
}
.form h2{
  text-align: center;
  color: red;
}
.form .form-group{
  padding: 20px;
  margin-bottom: 10px;
 
  
}
.form .form-group label{
  display: block;
  font-size: 14px;
 font-weight: bold;
 margin-bottom: 5px;
}
.form .form-group input{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}
.form .btn-form{
  background-color: rgb(219, 87, 11);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
}
.contact-textarea{
  width: 100%;
  padding: 10px;
}




/* media query */

/* @media screen and (max-width: 768px){
.home , .about-web, .service{
  display: flex;
  height: 70vh;
 flex-direction: column;
  position: relative;
  top: 70px;
 left: 70px;

}
.home-box p ,.about-web1 p{
  font-size: 18px;
  font-weight: bold;
  width: 70%;
}
.home-img {
  margin-top: -150px;
}
.home-img img {
  width: 300px;
}
.about-web2 img{
  width: 200px;
  height: 200px;
}
.about-web2{
  margin-top: -50px;
}
.service-box1 ,.service-box {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
width: 100px;
gap: 20px;
background-color: red;
}
.service-box1 img{
  width: 200px;
  height: 200px;
}
} */
 
