.footer{
  height: 15vh;
  background-color: #273035;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;

}
.footer-plane{
  display: flex;
  width: 500px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  height: 450px;
}
.footer p{
  margin-top: 10px;
}