.footer{
background-color: #0c0c0c;
margin-top: 60px;
}
.footer h1{
  text-align: center;
  margin-bottom: 20px;
}
.footer-plane{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap:1.5rem;
  align-items: flex-start;
}
.box{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
}
.footer p{
  margin-top: 10px;
}
.box p{
  color: gray;
  text-align: center;
}
.box p:hover{
  color: #fa690f;
}